.App {
  text-align: center;
}

input[type=text] {
  background: transparent;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 1em;
}


ul {
  display: flex;
  width: 100%;
  flex-direction: column;
}

li img {
  float: center;
  margin: 0 2em 0 0;
  flex-grow: 1;
}

li p {
  flex-grow: 1;
  font: 200 1em Georgia, Helvetica, serif;
}

li {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

button {
  color: white;
  background-color: #0D38A4;
  border-color: #0D38A4;
  border-radius: 0.3em;
  font: 200 1em Georgia, Helvetica, serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media screen and (max-width: 812px) {
  div {
    margin: 1em;
    width: 100%;
  }

  body, html {
    font-size: 0.7em;
  }
}